<div class="modal_body">
    <div class="modal_header">
        <span class="modal_title">
            <% if( post['ID'] ) { %><%= 'Редактировать документ' %><% } else { %><%= 'Добавить документ' %><% } %>
        </span>
        <div class="itf_icons_container large modal_close ModalClose">
            <span class="icon_svg_container large"><svg><use xlink:href="#close-modal"></use></svg></span>
        </div>
    </div>

    <div class="modal_content modal_flex">

        <div class="modal_flex__column">
            <div class="regular_field_description">Название документа</div>
            <span
                    class="regular_field DocModalField"
                    contenteditable="true"
                    spellcheck="false"
                    data-type="text"
                    data-name="post_title"
                    data-placeholder="Функция renderModal()"
            ><% if( post['post_title'] ) { %><%=post['post_title']%><% } %></span>
        </div>

        <div class="modal_flex__column">
            <div class="regular_field_description"> Slug - название в ссылке</div>
            <span
                    class="regular_field DocModalField"
                    contenteditable="true"
                    spellcheck="false"
                    data-type="text"
                    data-name="post_name"
                    data-placeholder="rendermodal"
            ><% if( post['post_name'] ) { %><%=post['post_name']%><% } %></span>
        </div>

        <div class="modal_flex__column">
            <div class="regular_field_description">Картинка документа </div>
            <div style="display: flex;">
                <span class="regular_field DocModalField MediaField"
                      contenteditable="true"
                      spellcheck="false"
                      data-type="text"
                      data-name="doc_img"
                      data-placeholder="doc_image.jpg"
                ><% if( post['doc_img'] ) { %><%=post['doc_img']%><% } %></span>
                <span class="icon_svg_container huge MediaForField"><svg><use xlink:href="#find_image"></use></svg></span>
            </div>
        </div>

        <div class="modal_flex__column">
            <div class="regular_field_description">Короткое описание</div>

            <textarea id="WPEditor" class="modal_wp_editor_area" name="tech_content">
                <% if( post['post_excerpt'] ) { %><%=post['post_excerpt']%><% } %>
            </textarea>

            <!--<span-->
                    <!--class="regular_field textarea DocModalField"-->
                    <!--contenteditable="true"-->
                    <!--spellcheck="false"-->
                    <!--data-type="text"-->
                    <!--data-name="post_excerpt"-->
                    <!--data-placeholder="Данная функция позволяет рендерить модальное окно"-->
            <!--&gt;</span>-->
        </div>

    </div>

    <div class="modal_footer">
        <span class="itf_submit medium <% if( post['ID'] ) { %><%= 'SubmitEditDoc' %><% } else { %><%= 'SubmitNewDoc' %><% } %>">
            <% if( post['ID'] ) { %><%= 'Редактировать документ' %><% } else { %><%= 'Добавить документ' %><% } %>
        </span>
    </div>

</div>